@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&family=DM+Sans:wght@300;400;500&display=swap');

@theme {
  --font-pixel: "Press Start 2P", monospace;
  --font-vt: "VT323", monospace;
  --font-body: "DM Sans", sans-serif;
}
@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  --font-geist: Geist;
}

/* tailwind.config.js or global CSS */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

button {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

/* customize container here using tailwindcss */
.section-container {
  @apply px-4 sm:px-6 lg:px-8 py-16 container mx-auto;
}

h1 {
  font-family: var(--font-geist);
}
